<div *ngIf="buffer.isPortrait" class="highlightBox roseHighlight flexbox" routerLink="/pages/main">
    <div id="icons" class="flexbox" style="flex: 1; z-index: 102;">
        <i class="material-symbols-outlined icon iconPortrait" routerLink="/myservices">search</i>
        <i class="material-symbols-outlined icon iconPortrait" routerLink="/schedule">book_2</i>
        <i class="material-symbols-outlined icon iconPortrait" routerLink="/myservices">construction</i>
        <i class="material-symbols-outlined icon iconPortrait" routerLink="/settings">settings</i>
        <img id="profilePic" [src]="buffer.userInfo.imageUrl" alt="" class="whiteBorder" routerLink="/viewprofile">
    </div>
</div>
<div *ngIf="!buffer.isPortrait" class="highlightBox roseHighlight flexbox" routerLink="/pages/main">
    <img src="{{imgUrl}}app/logo.png" style="height: 100%; flex: 1; z-index: 100; max-width: 180px;">
    <input style="flex: 2; z-index: 101;" type="text" (keyup.enter)="search()" [(ngModel)]="query">
    <div id="icons" class="flexbox" style="flex: 1; z-index: 102;">
        <i class="material-symbols-outlined icon" routerLink="/schedule">book_2</i>
        <i class="material-symbols-outlined icon" routerLink="/myservices">construction</i>
        <i class="material-symbols-outlined icon" routerLink="/settings">settings</i>
        <img id="profilePic" [src]="buffer.userInfo.imageUrl" alt="" class="whiteBorder" routerLink="/viewprofile">
    </div>
</div>