<div class="pageWrapper">
    <app-header></app-header>
    <div style="height: 92vh; width: 100%; position: absolute; top: 8vh;">
        <div style="width: 35%; height: 100%; position: absolute; left: 5vw;">
            <img src="{{imgUrl}}app/ai.png" style="height: 80%; position: absolute; bottom: 0px;">
            <div class="bubble standardText" routerLink="/register">Haven't registered yet onii-san? <br> Do it, onegaaaai &#10084; &#10084; &#10084;</div>
        </div>
        <app-login-forms style="position: absolute; top:38%; left: 75%;"></app-login-forms>
    </div>
</div>