.bubble {
	position: absolute;
	border-radius: .4em;
    border-style: solid;
    border-width: 0.2vw;
    background-color: var(--rose);
    border-color: var(--rose);
    width: 55%;
    left: 62%;
    top: 24%;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: var(--rose);
	border-bottom: 0;
	border-left: 0;
	margin-left: 9%;
	margin-bottom: -7%;
}