<div id="father" class="flexbox">
    <img [ngClass]="{'imgPortrait':buffer.isPortrait}" [src]="user.imageUrl" [alt]="altUrl" class="roseBorder">
    <div id="all">
        <div class="flexbox" id="nameDiv">
            <p [ngClass]="{'bigText':buffer.isPortrait}" [textContent]="user.name" class="titleText"></p>
            <i *ngIf="user.gender=='M'; else elseGender" [ngClass]="{'iconPortrait':buffer.isPortrait}" class="material-symbols-outlined maleIcon">male</i>
            <ng-template #elseGender><i [ngClass]="{'iconPortrait':buffer.isPortrait}" class="material-symbols-outlined femIcon">female</i></ng-template>
        </div>
        <app-star-rating [rating]="user.averageScore" [ngClass]="{'ratingPortrait':buffer.isPortrait,'rating':!buffer.isPortrait}"></app-star-rating>
        <!-- Botar link pra pag de areas qnd tiver -->
        <p [textContent]="user.area.Name" class="standardText highlightText" id="areaText"></p>
    </div>
</div>