<div [ngClass]="{'wrapperPortrait':buffer.isPortrait,'wrapper':!buffer.isPortrait}">
    <div class="centerHor">
        <img [ngClass]="{'cardImagePortrait':buffer.isPortrait,'cardImage':!buffer.isPortrait}" [src]="service.templateImageUrl" [alt]="altUrl" [title]="service.description" [routerLink]="['/services',service.templateId]">
        <p [textContent]="service.serviceName" class="standardText serviceNameText highlightText" [title]="service.serviceName" [routerLink]="['/services',service.templateId]"></p>
        <p [textContent]="service.provider.name" class="standardText serviceMinorText highlightText" [routerLink]="['/users',service.provider.userId]"></p>
        <p class="standardText roseText serviceCostText">R${{service.costPerHour}}</p>
        <app-star-rating [isEnabled]=false [rating]="service.averageScore" [imgWidth]="starWidth"></app-star-rating>
        <p [textContent]="service.provider.area.Name" class="standardText serviceMinorText highlightText"></p>
    </div>
</div>