<div class="pageWrapper">
    <app-header></app-header>
    <app-lateral-bar [user]=buffer.userInfo class="lateralDiv roseBorder"></app-lateral-bar>
    <div class="contentWrapper flexbox">
        <div id="tabGroup">
            <div class="flexbox">
                <div id="templatesTab" class="standardText roseText tab highlightBox"(click)="goToTemplates()">Templates</div>
                <div id="requestsTab" class="standardText roseText tab highlightBox" (click)="goToRequests()">Requests</div>
            </div>
            <app-requests-for-provider-list id="requests"></app-requests-for-provider-list>
            <div id="services" style="display: none;">
                <button class="standardButton" (click)="create()" style="display: block; margin-top: 1vw">Create Service</button>
                <app-services-for-provider-list [services]="buffer.services"></app-services-for-provider-list>
            </div>
        </div>
        <div>
            <p id="schedule" class="standardText roseText centerHor">Schedule</p>
            <app-instances-for-provider-list id="instances"></app-instances-for-provider-list>
        </div>
    </div>
</div>