<div class="pageWrapper">
    <app-full-header [ngClass]="{'botHeader':buffer.isPortrait}"></app-full-header>
    <div *ngIf="buffer.isPortrait" class="portraitContentWrapper">
        <div id="bordas">
            <img [src]="info.templateImageUrl" alt="" class="imgPortrait roseBorder">
            <div id="nameDiv">
                <p [textContent]="info.serviceName" class="titleText bigText"></p>
                <app-star-rating [rating]="info.averageScore" style="width: 150px;"></app-star-rating>
                <!-- Botar link pra pag de areas qnd tiver -->
                <p [textContent]="info.provider.name" class="standardText highlightText" id="providerText" [routerLink]="['/users',info.provider.userId]"></p>
                <p class="standardText rose" style="font-size: var(--dx-size); padding-top: 3%;">R${{info.costPerHour}}</p>
                <button class="standardButtonPortrait" (click)="schedule()">SCHEDULE</button>
            </div>
        </div>
    <app-review-lateral-list [type]=1 class="reviewPad" [reviews]="info.reviews" [canReview]="canReview" [target]="info.templateId"></app-review-lateral-list>
    </div>
    <div *ngIf="!buffer.isPortrait" class="contentWrapper">
        <div class="flexbox">
            <div style="width: 100%;">
                <div id="bordas">
                    <img [src]="info.templateImageUrl" alt="" class="img roseBorder">
                    <div id="nameDiv">
                        <p [textContent]="info.serviceName" class="titleText"></p>
                        <app-star-rating [rating]="info.averageScore" style="width: 200px;"></app-star-rating>
                        <!-- Botar link pra pag de areas qnd tiver -->
                        <p [textContent]="info.provider.name" class="standardText highlightText" id="providerText" [routerLink]="['/users',info.provider.userId]"></p>
                        <div class="flexbox">
                            <p class="standardText rose" style="font-size: var(--e-size); padding-top: 3%;">R${{info.costPerHour}}</p>
                            <button class="standardButton" (click)="schedule()" style="margin-left: 6px;">SCHEDULE</button>
                        </div>
                    </div>
                </div>
            </div>
        <app-review-lateral-list [type]=1 [reviews]="info.reviews" [canReview]="canReview" [target]="info.templateId"></app-review-lateral-list>
        </div>
</div>