 #providerText{
    font-size: var(--d-size);
}.imgPortrait{
    border-radius: 50%; 
    max-height: 120px;
    aspect-ratio: 1/1;
    margin-top: 1vw;
    margin-bottom: 1vw;
} .img{
    border-radius: 50%; 
    width: 15vw; 
    aspect-ratio: 1/1;
    margin-top: 1vw;
    margin-bottom: 1vw;
} #bordas{
    display: flex;
    justify-content: space-evenly;
    border-bottom-width: 0.1vw;
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: 0vw;
    border-color: var(--rose);
    border-style: solid;
    width: 100%;
    align-items: center;
} app-star-rating{
    margin-top: 1vw;
} #nameDiv{
    margin-top: 1vw;
    margin-left: 1vw;
} .reviewPad{
    padding-top: 20px;
} app-review-lateral-list{
    position: relative;
    bottom: 0px;
} .standardButton{
    width: 120px;
    height: auto;
    aspect-ratio: 5/1;
}