.main{
    width: 95%;
    height: 210px;
    border-style: solid;
    border-width: 0.1vw;
    border-color: var(--rose);
    overflow: hidden; /* make sure it hides the content that overflows */
    text-overflow: ellipsis; /* give the beautiful '...' effect */
}.mainPortrait{
    @extend .main;
    height: 126px;
} img{
    width: 25%;
    aspect-ratio: 1/1;
} .pad{
    padding-left: 2%;
} i{
    color: var(--rose);
    font-size: 300%;
    aspect-ratio: 1/1;
} .btns{
    width: 25%;
    min-height: 100%;
} .btnsPortrait{
    @extend .btns;
    overflow-y: scroll;
} .lowBorder{
    border-bottom-width: 0.1vw;
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: 0vw;
    border-color: var(--rose);
    border-style: solid;
} .rightBorder{
    border-bottom-width: 0vw;
    border-top-width: 0vw;
    border-left-width: 0vw;
    border-right-width: 0.1vw;
    border-color: var(--rose);
    border-style: solid;
} p {
    padding-top: 1.5%;
} #editService{
    padding-top: 2%;
    text-align: center;
    width: 40%;
    font-size: var(--d-size);
} app-star-rating{
    padding-left: 3%;
    transform: translateY(15%);
    width: 150px;
} .dayDivPortrait{
    height: 30px;
}.dayDiv{
    height: 30px;
}