#requests{
    width: 100%;
} #instances{
    width: 35%;
} #services{
    width: 100%;
} #tabGroupPortrait{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}#tabGroup{
    @extend #tabGroupPortrait;
}.tab{
    flex: 1;
    border-width:  0px 1px 1px 0px;
    border-style: solid;
    border-color: var(--rose);
    font-size: var(--d-size);
    height:7%;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
} .selectedTab{
    background-color: var(--rose);
    border-width:  1px 1px 1px 1px;
    border-color: var(--font-color);
    color: var(--font-color);
} #schedule{
    font-size: var(--d-size);
    text-align: center;
} app-services-for-provider-list {
    width: 100%;
} #requestsTab{
    border-right: 0px;
} .contentWrapper{
    overflow-y: hidden;
}